h1{
    font: 4em "Potta One";
    color:#e63946;
    text-align: center;
    margin-top:2.5%;
}
section{
    background:#f1faee;
    width:60%;
    margin:5% auto 0;
    border-radius:10px;
}
.titre{
    font: 2em "Potta One";
    color:#f1faee;
    background:#e63946;
    padding:0 1% 0 1%;
    border-radius: 10px;
}
.texte{
    font: 1.25em "Trebuchet MS";
    color:#1d3557;
    padding:0 1% 1% 1%;
}
