#titre{
    position:absolute;
    top:25%;
    left:50%;
    /*transform sert à recentrer l'élément*/
    transform:translate(-50%,-25%);

}
#intro{
    position:absolute;
    top:75%;
    left:50%;
    transform:translate(-50%,-65%);
    text-align:center;
    font:24px/2em sans-serif;
}
#intro_img{
    height:200px;
    cursor:pointer;
}
/*Réduire la taille si l'écran n'est pas assez grand*/
@media(max-width:1000px){
    #intro> h1 {
        font-size:24px;
    }
    #intro> p{
        font-size:16px;
    }
}


